--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface

sentence-transformers
transformers
torch

faiss-cpu
numpy
scikit-learn
rank-bm25

PyMuPDF
requests
google-genai